div {
  /* 1、向上取整 */
  width: 3px;
  /* 2、向下取证 */
  /* 3、浮点数转换百分比 */
  width: 299.99%;
  /* 4、四舍五入 */
  width: 6px;
  /* 5、计算平方根 */
  width: 1.41421356px;
  /* 6、计算绝对值 */
  width: 100px;
  /* 7、正弦 如果没有带单位就按弧度来计算 */
  width: 0.84147098;
  /* 1弧度角的正弦值 */
  width: 0.01745241;
  /* 1角度角的正弦值 */
  width: 0.01570732;
  /* 百分度角的正弦值 */
  /* 8、pi()*/
  width: 3.14159265;
  /* 9、乘方运算 */
  width: 1024px;
  /* 10取余 */
  width: 1px;
  /* 11、最小值 */
  width: 2px;
  /* 11、最大值 */
  width: 8px;
}
