/* 1、判断是否是数字 */
/* 2、是否是字符串*/
/* 3、是否是颜色值 */
/* 4、是否是关键字 */
/* 5、是否是URL*/
/* 6、是否是像素*/
/* 7、是否是em单位 */
/* 8、判断是否是百分比 */
/* 9、判断一个值是否是带单位的数字 第一个参数是值，第二个参数是指定单位 */
div {
  x: 123;
  x: '123';
  x: red;
  x: auto;
  x: url(arr.jpg);
  x: 100px;
  x: 100em;
  x: 10%;
  x: 10px;
}
