div {
  /* 1、hue 从hsl中提取色相值 */
  z-index: 90;
  /* 2、saturation 从hsl中提取饱和度 */
  /* 3、lightness 从hsl中提取亮度值 */
  /* 4、 hsvhue 从hsv色彩空间中提取色相*/
  z-index: 90;
  /* 5、 hsvsaturation 从hsv色彩空间提取饱和度*/
  z-index: 100%;
  /* 6、 从hsv色彩空间提取色调*/
  z-index: 50%;
  /* 7、red 从rgba中提取红色 */
  z-index: 29;
  /* 8、green 从rgba中提取绿色 */
  z-index: 199;
  /* 9、blue 从rgba中提取蓝色*/
  z-index: 150;
  /* 10、alpha 从rgba中提取透明度*/
  z-index: 0.8;
  /* 11、luma 计算颜色对象luma的值（亮度的百分比表示法）*/
  z-index: 44.11161568%;
  /* 12、计算没有伽马校正的亮度值*/
  z-index: 65.28078431%;
}
